<% @title = "Login" %>

<%= simple_form_for(resource, as: resource_name, wrapper: :input_group_form,url: session_path(resource_name)) do |f| %>
  <%= f.input :username, placeholder: "Username", icon: 'fas fa-fw fa-user-circle' %>
  <%= f.input :password, input_html: { autocomplete: "off" }, placeholder: "Password", icon: 'fas fa-fw fa-key' %>
  <div class="form-group row">
    <div class="col">
      <%= f.submit "Login", class: "btn btn-primary float-right" %>
    </div>
  </div>
<% end %>
