<% if status %>
  <a href="<%= url %>" class="nav-item text-center nav-link active">
    <i class="fas fa-check-circle fa-3x fa-fw text-white"></i>
    <p><%= content %></p>
  </a>
<% else %>
  <a href="<%= url %>" class="nav-item text-center nav-link">
    <span class="fa-3x fa-layers fa-fw text-white">
      <i class="fas fa-circle"></i>
      <i class="fa-inverse fas fa-spinner" data-fa-transform="shrink-6"></i>
    </span>
    <p><%= content %></p>
  </a>
<% end %>