<% if status %>
  <a href="<%= url %>" class="nav-item text-center nav-link active">
    <i class="fas fa-check-circle fa-2x fa-fw text-white my-2"></i>
    <p class="mb-1"><%= content %></p>
  </a>
<% else %>
  <a href="<%= url %>" class="nav-item text-center nav-link">
    <i class="fas fa-spinner fa-2x fa-fw my-2"></i>
    <p class="mb-1"><%= content %></p>
  </a>
<% end %>