<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link d-flex justify-content-center" href="#">
      <img src="<%= asset_pack_path 'images/logo.png' %>" width="90%" />
    </a>
  </li>

</ul>
