<% @title = 'Mandate Created' %>

<div class="card mx-4">
  <div class="card-body text-center">
    <h2 class="card-title"><i class="fa-4x far fa-check-circle text-success"></i>&nbsp;&nbsp;Mandate Created</h2>
    <p class="lead">You have successfully set up a Direct Debit mandate.</p>
    <p>Nice one <i class="far fa-smile"></i>! Payments will now be taken automatically on the due day of the invoice.</p>
    <%= link_to('Back', root_path, class: 'btn btn-primary') %>
  </div>
</div>