<% @title = 'Mandate Creation Unsuccessful' %>

<div class="card mx-4">
  <div class="card-body text-center">
    <h2 class="card-title"><i class="fa-4x far fa-times-circle text-danger"></i>&nbsp;&nbsp;Mandate Creation Unsuccessful</h2>
    <p class="lead">
      We are unable to set up a Direct Debit mandate at this moment. Please get in touch and we can take a look for you!
    </p>
    <%= link_to('Back', root_path, class: 'btn btn-primary') %>
  </div>
</div>