@import "variables";
@import "~bootstrap/scss/bootstrap";

.turbolinks-progress-bar {
  background-color: $primary;
}

.auth-container {
  min-height: 100vh;

  .auth-box {
    width: 100%;
    max-width: 380px;

    .logo {
      width: 45%;
    }
  }
}

.dashboard-container {
  min-height: 100vh;

  header {
    @include media-breakpoint-down(sm) {
      background-color: $dark !important;
    }

    @include media-breakpoint-up(md) {
      box-shadow: 10px 2px 10px $gray-400;
    }
  }

  .sidebar {
    box-shadow: 2px 10px 10px $gray-400;
  }

  .sidebar-logo {
    @include media-breakpoint-down(sm) {
      width: 50%;
    }

    @include media-breakpoint-up(md) {
      width: 85%;
    }
  }

  .balance {
    @extend .display-3
  }

  .nav-multistep {
    .nav-item {
      border: 1px solid $light;
      border-radius: 10px;
      padding: 1.5rem 2rem;
    }

    .active {
      background-color: mix($green, $light, 90%);
      color: $black;
    }

    .nav-item:not(.active) {
      background-color: mix($warning, $light, 50%);
      color: $black;
    }
  }
}

// Temporary and dirty fix for Devise alerts
.alert-notice {
  @extend .alert-info
}

.alert-alert {
  @extend .alert-warning
}

// Bootstrap hack for compatibility with Simple Form
input[aria-invalid="false"], select[aria-invalid="false"], textarea[aria-invalid="false"] {
  @extend .is-valid
}

input[aria-invalid="true"], select[aria-invalid="true"], textarea[aria-invalid="true"] {
  @extend .is-invalid
}