@import "variables";

@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}

//
// Match email theme with site theme
//

$primary-color: $primary;
$secondary-color: $secondary;
$success-color: $success;
$warning-color: $warning;
$light-gray: $light;
$dark-gray: $dark;

@import "~foundation-emails/scss/foundation-emails";

.container {
  -premailer-cellspacing: 2 * strip-units($global-font-size);
  width: 100%;
  max-width: 580px;
}

.copyright {
  width: 100%;
  max-width: 580px;
  font-size: $global-font-size * .8;
  color: lighten($dark-gray, 15%);
}