@import "variables";

//
// Match email theme with site theme
//

$primary-color: $primary;
$secondary-color: $secondary;
$success-color: $success;
$warning-color: $warning;
$light-gray: $light;
$dark-gray: $dark;

@import "~foundation-emails/scss/foundation-emails";

.container {
  margin: $spacer auto;
  padding: (2 * $spacer) $spacer;
  width: 100%;
  max-width: 580px;
}

.copyright {
  width: 100%;
  max-width: 580px;
  font-size: 80%;
  color: $dark-gray;
}